{% extends 'base.html.twig' %}

{% block title %}Modify my password - POSHMARK{% endblock %}

{% block content %}
<div class="account-container">
<h1>Modify my password</h1>
        <a href="{{ path('account') }}">Return to my account</a><br/>
      
    <hr>
        {% if message == true and notification %}
            <div class="alert alert-info">{{notification}}</div>
       
        {% elseif message == false and notification%}
            <div class="alert alert-danger">{{notification}}</div>        
        {% endif %}
        {{form(form)}}
        <hr>
</div>
{% endblock %}
