{% extends 'base.html.twig' %}
{% block title %}Register - PECHE{% endblock %}

{% block content %}
<div class=" register-container">
  <h1>Register</h1> 
   {{form(form)}}
  </div>
{% endblock content %}
  